<ion-header>
  <ion-toolbar>
    <ion-title>Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let user of users">
      <ion-label>
        <h2>{{ user.email }}</h2>
        <p>{{ user.password }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <!-- <ion-button expand="block" style="margin-top: 25px;" (click)="deleteDB()">Resetear base de datos</ion-button> -->
  <ion-button expand="block" style="margin-top: 25px;" (click)="logOut()">Log Out</ion-button>

</ion-content>

